@import url(./reset.css);
@import url(//at.alicdn.com/t/font_3208040_lh453cm9g2.css);

body,
html,
#app {
	width: 100%;
	height: 100%;
}
.scroll {
	overflow: hidden;
	overflow-y: auto;
	overflow-x: hidden;
}
.scroll::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 5px; /*高宽分别对应横竖滚动条的尺寸*/
	height: 5px;
	position: absolute;
	background-color: transparent;
	scrollbar-arrow-color: red;
}
.scroll::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.2);
	scrollbar-arrow-color: red;
}
.scroll::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	border-radius: 5px;
	background-color: transparent;
}
